<div class="container">
  <div class="row justify-content-center align-items-center g-2 mb-4">

    <div class="container mt-5">
        <h2>Formulario</h2>
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Introduce tu nombre" #nombreForm>
            </div>
            <div class="mb-3">
                <label for="edad" class="form-label">Edad</label>
                <input type="number" class="form-control" id="edad" placeholder="Introduce tu edad" #edadForm>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Introduce tu email" #emailForm>
            </div>
            <div class="mb-3">
                <label for="sexo" class="form-label" >Sexo</label>
                <select class="form-select" id="sexo" #sexoForm>
                    <option selected>Selecciona tu sexo</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comentarios" class="form-label" >Comentarios</label>
                <textarea class="form-control" id="comentarios" rows="3" placeholder="Introduce tus comentarios" #comentariosForm></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Opción</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="opcion" id="opcion1" value="1" checked #opcionForm>
                    <label class="form-check-label" for="opcion1">
                        Opción 1
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="opcion" id="opcion2" value="2" #opcionForm>
                    <label class="form-check-label" for="opcion2">
                        Opción 2
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="agregarUsuario(nombreForm.value,edadForm.value,emailForm.value, sexoForm.value, comentariosForm.value,opcionForm.value)">Enviar</button>
        </form>
    </div>

    @if (arrayUsuarios && arrayUsuarios!.length>0) {

      @for (item of arrayUsuarios; track $index) {
        <p>{{item.nombre}}</p>
      }
    }
    
  </div>
</div>

