<div class="container mt-5">

  <h3 class="mb-3">Introduce tus datos</h3>
    <form>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" aria-describedby="emailHelp" #nombre>
      </div>
      <div class="mb-3">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="Apellido" #apellido>
      </div>

      <div class="mb-3">
        <label for="Telefono" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="Telefono" #telefono>
      </div>

      <div class="mb-3">
        <label for="DNI" class="form-label">DNI</label>
        <input type="text" class="form-control" id="DNI" #dni>
      </div>

      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check1">
        <label class="form-check-label" for="check1">Check me out</label>
      </div>  -->
     </form>
     <button (click)="agregarUsuario(nombre.value,apellido.value,telefono.value,dni.value)" class="btn btn-primary">agregar</button>


     <!-- <p class="mt-5"> hola:  {{listaUsuarios[0].nombre}}</p> -->
  </div>
  