<div class="container mt-5">

  <h3 class="mb-3">Introduce tus datos</h3>
    <form>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Nombre</label>
        <input type="text"  class="form-control" id="Nombre" name="nombre" aria-describedby="Nombre" [(ngModel)]="nombre">
      </div>
      <div class="mb-3">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" id="Apellido" [(ngModel)]="apellido">
      </div>

      <div class="mb-3">
        <label for="Telefono" class="form-label">Telefono</label>
        <input type="number" class="form-control" name="telefono" id="Telefono" [(ngModel)]="telefono">
      </div>

      <div class="mb-3">
        <label for="DNI" class="form-label">DNI</label>
        <input type="text" class="form-control" name="dni" id="DNI" [(ngModel)]="dni">
      </div>

      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check1">
        <label class="form-check-label" for="check1">Check me out</label>
      </div>  -->
     </form>
     <button (click)="agregarUsuario()" class="btn btn-primary">agregar</button>

     @if (listaUsuarios.length>0) {
      <div
      class="alert alert-primary mt-4" 
      role="alert"
     >
      <strong>Ahora si que hay !!!</strong> {{listaUsuarios.length}}
     </div>
     }@else {

      <div
      class="alert alert-primary mt-4" 
      role="alert"
     >
      <strong>No hay!!!
      </strong> "No has agregado usuarios"
     </div>

     }

     <ul class="list-group">
        @for (item of listaUsuarios; track $index) {

          <li class="list-group-item">{{item.nombre}}</li>

        }
        
     </ul>

     

     <!-- <p class="mt-5"> hola:  {{listaUsuarios[0].nombre}}</p> -->
  </div>
  